@import 'tailwindcss';

@theme inline {
  --color-grey-0: var(--grey-0);
  --color-grey-25: var(--grey-25);
  --color-grey-50: var(--grey-50);
  --color-grey-100: var(--grey-100);
  --color-grey-200: var(--grey-200);
  --color-grey-300: var(--grey-300);
  --color-grey-400: var(--grey-400);
  --color-grey-500: var(--grey-500);
  --color-grey-600: var(--grey-600);
  --color-grey-700: var(--grey-700);
  --color-grey-800: var(--grey-800);
  --color-grey-900: var(--grey-900);
  --color-grey-950: var(--grey-950);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);

  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);

  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);

  --color-danger-50: var(--danger-50);
  --color-danger-100: var(--danger-100);
  --color-danger-200: var(--danger-200);
  --color-danger-300: var(--danger-300);
  --color-danger-400: var(--danger-400);
  --color-danger-500: var(--danger-500);
  --color-danger-600: var(--danger-600);
  --color-danger-700: var(--danger-700);
  --color-danger-800: var(--danger-800);
  --color-danger-900: var(--danger-900);
}

:root {
  --size-0: 0rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.5rem;
  --size-6: 2rem;
  --size-7: 3rem;
  --size-8: 4rem;
  --size-9: 6rem;
  --size-10: 8rem;
  --size-11: 12rem;
  --size-12: 16rem;
  --size-13: 24rem;
  --size-14: 32rem;
  --size-15: 40rem;
  --size-16: 48rem;

  --grey-0: oklch(100% 0.00011 271.152);
  --grey-25: oklch(98.686% 0.0026 230.456);
  --grey-50: oklch(97.172% 0.00524 248.361);
  --grey-100: oklch(93.649% 0.00881 264.608);
  --grey-200: oklch(90.077% 0.01571 269.987);
  --grey-300: oklch(81.426% 0.01611 269.964);
  --grey-400: oklch(68.96% 0.01995 269.018);
  --grey-500: oklch(53.857% 0.01788 269.832);
  --grey-600: oklch(46.434% 0.02207 268.836);
  --grey-700: oklch(37.116% 0.0201 266.035);
  --grey-800: oklch(29.308% 0.02531 265.493);
  --grey-900: oklch(24.409% 0.03064 264.936);
  --grey-950: oklch(16.172% 0.03602 263.686);

  --primary-50: oklch(98.742% 0.00761 229.424);
  --primary-100: oklch(97.007% 0.01851 227.515);
  --primary-200: oklch(93.882% 0.03217 242.451);
  --primary-300: oklch(87.286% 0.06603 247.253);
  --primary-400: oklch(80.926% 0.10322 244.732);
  --primary-500: oklch(69.081% 0.1404 246.678);
  --primary-600: oklch(56.49% 0.1092 246.221);
  --primary-700: oklch(44.944% 0.08454 245.916);
  --primary-800: oklch(34.091% 0.05369 244.27);
  --primary-900: oklch(25.181% 0.05141 245.525);
  --primary-950: oklch(18.742% 0.0443 241.78);

  --accent-50: oklch(99.06% 0.00496 47.815);
  --accent-100: oklch(97.655% 0.01261 48.258);
  --accent-200: oklch(95.258% 0.02783 55.206);
  --accent-300: oklch(89.523% 0.06382 54.463);
  --accent-400: oklch(82.699% 0.10268 44.366);
  --accent-500: oklch(69.805% 0.15655 39.821);
  --accent-600: oklch(63.279% 0.17484 39.177);
  --accent-700: oklch(49.686% 0.13873 39.114);
  --accent-800: oklch(39.972% 0.11071 39.109);
  --accent-900: oklch(31.601% 0.08672 37.953);

  --success-50: oklch(98.905% 0.01496 136.383);
  --success-100: oklch(97.283% 0.0357 135.137);
  --success-200: oklch(94.405% 0.07044 135.751);
  --success-300: oklch(90.616% 0.12214 136.137);
  --success-400: oklch(83.773% 0.15701 136.697);
  --success-500: oklch(77.107% 0.1887 137.212);
  --success-600: oklch(68.337% 0.19877 138.263);
  --success-700: oklch(53.952% 0.16153 138.692);
  --success-800: oklch(40.947% 0.11687 138.08);
  --success-900: oklch(31.303% 0.09046 138.06);

  --warning-50: oklch(99.56% 0.01045 100.927);
  --warning-100: oklch(98.111% 0.03141 101.173);
  --warning-200: oklch(97.191% 0.07533 103.677);
  --warning-300: oklch(96.234% 0.11453 104.089);
  --warning-400: oklch(94.892% 0.15062 104.039);
  --warning-500: oklch(91.474% 0.19078 101.037);
  --warning-600: oklch(87.333% 0.16753 93.792);
  --warning-700: oklch(68.271% 0.13883 86.894);
  --warning-800: oklch(47.19% 0.09516 84.582);
  --warning-900: oklch(35.08% 0.07167 88.487);

  --danger-50: oklch(98.452% 0.00746 16.459);
  --danger-100: oklch(92.574% 0.03777 17.703);
  --danger-200: oklch(84.249% 0.0865 18.975);
  --danger-300: oklch(75.078% 0.13528 20.747);
  --danger-400: oklch(66.854% 0.18254 28.042);
  --danger-500: oklch(62.805% 0.25488 28.975);
  --danger-600: oklch(55.375% 0.19785 26.604);
  --danger-700: oklch(46.378% 0.14812 25.043);
  --danger-800: oklch(39.244% 0.11113 23.739);
  --danger-900: oklch(30.265% 0.09336 24.633);
}
