@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans-body: var(--font-inter);
  --font-sans-caption: var(--font-open-sans);

}

:root {
  --size-0: 0;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.5rem;
  --size-6: 2rem;
  --size-7: 3rem;
  --size-8: 4rem;
  --size-9: 6rem;
  --size-10: 8rem;
  --size-11: 12rem;
  --size-12: 16rem;
  --size-13: 24rem;
  --size-14: 32rem;
  --size-15: 40rem;
  --size-16: 48rem;
}

.dark {
}

@layer base {
  * {
  }
  body {
  }
  html {
  }
}
button {
  font-family: var(--font-inter);
}

.header-top-padding {
  padding-top: 112px;
}
@media (width >= 768px) {
  .header-top-padding {
    padding-top: 128px;
  }
}

@media (width >= 1024px) {
  .header-top-padding {
    padding-top: 144px;
  }
}
